<% content_for :extra_header_stuff do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "show.js" %>
  <%= stylesheet_link_tag "show.css" %>
  <%= javascript_include_tag "highcharts.js" %>
<% end %>



<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% unless @user.rides.empty? %>
        <% form_tag delete_multiple_path, :method => :post, :remote => true do %>

          <%= submit_tag "Delete", :confirm => "Are you sure you want to delete these rides",:id => 'delete', :class => '' %>


          <div class="rides" summary="User rides">
            <%= render @rides %>
          </div>
          <%= will_paginate @rides %>
        <% end %>      
      <% end -%>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Rides</strong> <%= @user.rides.count %>
    </td>
  </tr>
</table>
