  <% content_for :extra_header_stuff do %>
  	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  	<%= javascript_include_tag "ride_creation.js" %>
  <% end %>



















<!-- 
<%= form_for @ride do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
 -->