<!-- <tr>
  <td class="ride">
    <span class="content"><%= ride.route %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(ride.created_at) %> ago.
    </span>
  </td>
</tr> -->

<h3><a href="#">Ride Title</a></h3>
<div class="ride" id="<%= ride.id %>">
<!--     <span class="content"><%= ride.route %></span>
    <span class="timestamp">
      Created <%= time_ago_in_words(ride.created_at) %> ago.
    </span> -->
</div>

