<% content_for :extra_header_stuff do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "ride_creation.js" %>
  <%= stylesheet_link_tag "ride_creation.css" %>
  <%= javascript_include_tag "highcharts.js" %>
<% end %>


<%= link_to "Save to my rides" if current_user != @user && signed_in? %>
<%= link_to "Edit ride", edit_ride_path(@ride) if current_user == @user %>
<div id= "<%= 'map'+ @ride.id.to_s %>" class="map round"></div>
<div id= "<%= 'graph'+ @ride.id.to_s %>" class="graph"></div>
<span class="route" style="display:none;"> <%=@ride.route -%> </span>
<span class="elevations" style="display:none;"> <%=@ride.elevations -%> </span>
<span class="distance" style="display:none;"> <%=@ride.total_distance -%> </span>
<span class="timestamp">
  Created <%= time_ago_in_words(@ride.created_at) %> ago.
</span>

<%= javascript_include_tag "show_ride.js" %>